equivida-ws-cliente/src-calidad-nombres2/SrvQaNombres.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://SrvQaNombres.QA_Equivida.isd.ibm.com/soapoverhttp/" xmlns:impl="http://SrvQaNombres.QA_Equivida.isd.ibm.com/soapoverhttp/" xmlns:intf="http://SrvQaNombres.QA_Equivida.isd.ibm.com/soapoverhttp/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://SrvQaNombres.QA_Equivida.isd.ibm.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema targetNamespace="http://SrvQaNombres.QA_Equivida.isd.ibm.com/soapoverhttp/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <element name="txt_nombre" nillable="true" type="xsd:string"/>
  </schema>
    <schema targetNamespace="http://SrvQaNombres.QA_Equivida.isd.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SrvQaNombresOutVar2">
    <sequence>
     <element name="txt_nombre" nillable="true" type="xsd:string"/>
     <element name="genero_nombres" nillable="true" type="xsd:string"/>
     <element name="nameprefix_nombres" nillable="true" type="xsd:string"/>
     <element name="firstname_nombres" nillable="true" type="xsd:string"/>
     <element name="secondname_nombres" nillable="true" type="xsd:string"/>
     <element name="firstlastname_nombres" nillable="true" type="xsd:string"/>
     <element name="secondlastname_nombres" nillable="true" type="xsd:string"/>
     <element name="unhandledpattern_nombres" nillable="true" type="xsd:string"/>
     <element name="status" nillable="true" type="soapenc:int"/>
     <element name="message" nillable="true" type="xsd:string"/>
     <element name="validacion" nillable="true" type="xsd:string"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <element name="SrvQaNombresOutVar2" nillable="true" type="tns1:SrvQaNombresOutVar2"/>
  </schema>
  </wsdl:types>
  <wsdl:message name="OpQaNombresRequest">
    <wsdl:part name="txt_nombre" type="xsd:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="OpQaNombresResponse">
    <wsdl:part name="OpQaNombresReturn" type="tns1:SrvQaNombresOutVar2">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SrvQaNombres">
    <wsdl:operation name="OpQaNombres" parameterOrder="txt_nombre">
      <wsdl:input message="impl:OpQaNombresRequest" name="OpQaNombresRequest">
    </wsdl:input>
      <wsdl:output message="impl:OpQaNombresResponse" name="OpQaNombresResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SrvQaNombresSOAPSoapBinding" type="impl:SrvQaNombres">
<wsaw:UsingAddressing wsdl:required="false"/>
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="OpQaNombres">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="OpQaNombresRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://SrvQaNombres.QA_Equivida.isd.ibm.com/soapoverhttp/" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="OpQaNombresResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://SrvQaNombres.QA_Equivida.isd.ibm.com/soapoverhttp/" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SrvQaNombres">
    <wsdl:port binding="impl:SrvQaNombresSOAPSoapBinding" name="SrvQaNombresSOAP">
      <wsdlsoap:address location="http://10.10.30.31:9080/wisd/QA_Equivida/SrvQaNombres"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>