equivida-ws-cliente/src-mpersonadir/mpersonadir.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.equivida.com/services/clienteequivida/mpersona_dir" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:eqns="http://www.equivida.com/services/clienteequivida/mpersona_dir" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.equivida.com/services/clienteequivida/mpersona_dir">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.equivida.com/services/clienteequivida/mpersona_dir" xmlns:eqns="http://www.equivida.com/services/clienteequivida/mpersona_dir" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	        <xs:element name="request">
	            <xs:complexType>
	                <xs:sequence>
	                    <xs:element ref="eqns:id_persona"/>
	                    <xs:element ref="eqns:cod_tipo_dir"/>
	                    <xs:element ref="eqns:txt_direccion"/>
	                    <xs:element ref="eqns:cod_municipio"/>
	                    <xs:element ref="eqns:cod_dpto"/>
	                    <xs:element ref="eqns:cod_pais"/>
	                </xs:sequence>
	            </xs:complexType>
	        </xs:element>
	        <xs:element name="id_persona" type="xs:int"/>
	        <xs:element name="cod_tipo_dir" type="xs:int"/>
	        <xs:element name="txt_direccion" nillable="true" type="xs:string"/>
	        <xs:element name="cod_municipio" type="xs:int"/>
	        <xs:element name="cod_dpto" type="xs:int"/>
	        <xs:element name="cod_pais" type="xs:int"/>
	        <xs:element name="response">
	            <xs:complexType>
	                <xs:sequence>
	                    <xs:element ref="eqns:num_filas"/>
	                    <xs:element ref="eqns:cod_error"/>
	                    <xs:element ref="eqns:msg_error"/>
	                </xs:sequence>
	            </xs:complexType>
	        </xs:element>
	        <xs:element name="num_filas" type="xs:int"/>
	        <xs:element name="cod_error" type="xs:string"/>
	        <xs:element name="msg_error" type="xs:string"/>
	    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Request">
    <wsdl:part name="DefaultInput" element="eqns:request"/>
  </wsdl:message>
  <wsdl:message name="Response">
    <wsdl:part name="DefaultOutput" element="eqns:response"/>
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="Invoke">
      <wsdl:input message="eqns:Request"/>
      <wsdl:output message="eqns:Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPBinding" type="eqns:PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Invoke">
      <soap:operation soapAction="http://www.equivida.com/services/clienteequivida/mpersona_dir/PortType/InvokeRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="clienteequivida.mpersonadirSrv">
    <wsdl:port name="Port" binding="eqns:SOAPBinding">
      <soap:address location="http://10.10.30.26:2014/process/clienteequivida.mpersonadir"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
