equivida-ws-cliente/src-riesgo2/archivo16nov2016.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://localhost/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/">
      <s:import namespace="http://localhost/ResultadosRevisionOFAC.xsd" />
      <s:import namespace="http://localhost/ResultadoScanFile.xsd" />
      <s:import schemaLocation="http://10.10.52.108/RCS%20WS%20OFAC/Service.asmx?schema=ResultadosRevisionOFAC" namespace="http://localhost/ResultadosRevisionOFAC.xsd" />
      <s:import schemaLocation="http://10.10.52.108/RCS%20WS%20OFAC/Service.asmx?schema=ResultadoScanFile" namespace="http://localhost/ResultadoScanFile.xsd" />
      <s:element name="BusquedaIDVerificationBridger">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoOrganizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="middleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoIdentificacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPostal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="generacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telfCasa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telfTrabajo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="issuingCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valoresDefault" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaSetupDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaReportes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreLog" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="proveedorIdv" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pathProveedorIDV" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="identityVerificationSetupOption" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoBusqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaIDVerificationBridgerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaIDVerificationBridgerResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://localhost/ResultadosRevisionOFAC.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProbarWebService">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rutaSetupDB" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProbarWebServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProbarWebServiceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarAListaAceptados">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idBusqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaSetupDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoCuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroCuenta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoDocumento" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="numeroId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="verificadoPor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="division" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comentario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="empresa" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="viaSF" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AgregarAListaAceptadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AgregarAListaAceptadosResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PoliticaEstablecidaBatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PoliticaEstablecidaBatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PoliticaEstablecidaBatchResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="formatosBI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rutaFormatosBI" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="formatosBIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="formatosBIResult" type="tns:ArrayOfString" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="BusquedaWire">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contextoWire" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="separador" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaWireResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaWireResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://localhost/ResultadosRevisionOFAC.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaIDVerification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoOrganizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="middleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoIdentificacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPostal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="generacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telfCasa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telfTrabajo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="issuingCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valoresDefault" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaSetupDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaReportes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreLog" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="proveedorIdv" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pathProveedorIdv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="identityVerificationSetupOption" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoBusqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaIDVerificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaIDVerificationResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://localhost/ResultadosRevisionOFAC.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RCSA_SearchLists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoOrganizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="middleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoIdentificacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPostal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="generacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telfCasa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telfTrabajo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="issuingCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoBusqueda" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idGrupoNotif" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RCSA_SearchListsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RCSA_SearchListsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://localhost/ResultadosRevisionOFAC.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaIDVerificationXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoOrganizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="middleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoIdentificacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPostal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="generacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telfCasa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telfTrabajo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="issuingCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valoresDefault" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaSetupDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaReportes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreLog" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="proveedorIdv" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pathProveedorIdv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="identityVerificationSetupOption" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoBusqueda" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaIDVerificationXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaIDVerificationXMLResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaIDVerificationConsumoXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoOrganizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="middleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoIdentificacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPostal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="generacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telfCasa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telfTrabajo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="issuingCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valoresDefault" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaSetupDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaReportes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreLog" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="proveedorIdv" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pathProveedorIdv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="identityVerificationSetupOption" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoBusqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaIDVerificationConsumoXMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaIDVerificationConsumoXMLResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaIDVScanFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoOrganizacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="middleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="tipoIdentificacion" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="identificacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPostal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="generacion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telfCasa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telfTrabajo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="issuingCountry" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valoresDefault" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaSetupDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaReportes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreLog" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="proveedorIdv" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pathProveedorIdv" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="identityVerificationSetupOption" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoBusqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idBusquedaSF" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaIDVScanFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaIDVScanFileResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://localhost/ResultadoScanFile.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaCheckNamesSF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreABuscar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPostal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valoresDefault" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaSetupDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaReportes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoBusqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idBusquedaSF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaCheckNamesSFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaCheckNamesSFResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://localhost/ResultadoScanFile.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaCheckNames">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreABuscar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ciudad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="estado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="codigoPostal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valoresDefault" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaSetupDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaReportes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoBusqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaCheckNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaCheckNamesResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://localhost/ResultadosRevisionOFAC.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaAlternateSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreABuscar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valoresDefault" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaSetupDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaReportes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoBusqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaAlternateSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaAlternateSearchResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://localhost/ResultadosRevisionOFAC.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaCheckWire">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreABuscar" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreArchivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valoresDefault" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaSetupDB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaReportes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoBusqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaCheckWireResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaCheckWireResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://localhost/ResultadosRevisionOFAC.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ScanFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="archivoInput" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="archivoOutput" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="formatoArchivoInput" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="archivoFormatos" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licenciaUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="servidorBdd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreBdd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuarioBdd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwordBdd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreTablaBdd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="columnasTablaBdd" type="tns:ArrayOfAnyType" />
            <s:element minOccurs="0" maxOccurs="1" name="origenDatos" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="poseeCabecera" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoOrigenInf" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="ScanFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ScanFilesResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesarResultadosScanfiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idBusquedaSF" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="licencia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ProcesarResultadosScanfilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ProcesarResultadosScanfilesResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarStatusArchivoOutput">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idBusquedaSF" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerificarStatusArchivoOutputResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerificarStatusArchivoOutputResult" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaCheckSwift">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mensajeSwift" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valoresDefault" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoBusqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaCheckSwiftResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaCheckSwiftResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://localhost/ResultadosRevisionOFAC.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaCheckSwiftRawBics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="licenciaEmpresa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mensajeSwift" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BICs" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="idPolitica" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="perfilUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="valoresDefault" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rutaLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombreLog" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metodoBusqueda" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BusquedaCheckSwiftRawBicsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BusquedaCheckSwiftRawBicsResult">
              <s:complexType>
                <s:sequence>
                  <s:any namespace="http://localhost/ResultadosRevisionOFAC.xsd" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="primaryKey" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codError" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcionError" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="BusquedaIDVerificationBridgerSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaIDVerificationBridger" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVerificationBridgerSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaIDVerificationBridgerResponse" />
  </wsdl:message>
  <wsdl:message name="ProbarWebServiceSoapIn">
    <wsdl:part name="parameters" element="tns:ProbarWebService" />
  </wsdl:message>
  <wsdl:message name="ProbarWebServiceSoapOut">
    <wsdl:part name="parameters" element="tns:ProbarWebServiceResponse" />
  </wsdl:message>
  <wsdl:message name="AgregarAListaAceptadosSoapIn">
    <wsdl:part name="parameters" element="tns:AgregarAListaAceptados" />
  </wsdl:message>
  <wsdl:message name="AgregarAListaAceptadosSoapOut">
    <wsdl:part name="parameters" element="tns:AgregarAListaAceptadosResponse" />
  </wsdl:message>
  <wsdl:message name="PoliticaEstablecidaBatchSoapIn">
    <wsdl:part name="parameters" element="tns:PoliticaEstablecidaBatch" />
  </wsdl:message>
  <wsdl:message name="PoliticaEstablecidaBatchSoapOut">
    <wsdl:part name="parameters" element="tns:PoliticaEstablecidaBatchResponse" />
  </wsdl:message>
  <wsdl:message name="formatosBISoapIn">
    <wsdl:part name="parameters" element="tns:formatosBI" />
  </wsdl:message>
  <wsdl:message name="formatosBISoapOut">
    <wsdl:part name="parameters" element="tns:formatosBIResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaWireSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaWire" />
  </wsdl:message>
  <wsdl:message name="BusquedaWireSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaWireResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVerificationSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaIDVerification" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVerificationSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaIDVerificationResponse" />
  </wsdl:message>
  <wsdl:message name="RCSA_SearchListsSoapIn">
    <wsdl:part name="parameters" element="tns:RCSA_SearchLists" />
  </wsdl:message>
  <wsdl:message name="RCSA_SearchListsSoapOut">
    <wsdl:part name="parameters" element="tns:RCSA_SearchListsResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVerificationXMLSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaIDVerificationXML" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVerificationXMLSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaIDVerificationXMLResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVerificationConsumoXMLSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaIDVerificationConsumoXML" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVerificationConsumoXMLSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaIDVerificationConsumoXMLResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVScanFileSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaIDVScanFile" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVScanFileSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaIDVScanFileResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaCheckNamesSFSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaCheckNamesSF" />
  </wsdl:message>
  <wsdl:message name="BusquedaCheckNamesSFSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaCheckNamesSFResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaCheckNamesSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaCheckNames" />
  </wsdl:message>
  <wsdl:message name="BusquedaCheckNamesSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaCheckNamesResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaAlternateSearchSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaAlternateSearch" />
  </wsdl:message>
  <wsdl:message name="BusquedaAlternateSearchSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaAlternateSearchResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaCheckWireSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaCheckWire" />
  </wsdl:message>
  <wsdl:message name="BusquedaCheckWireSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaCheckWireResponse" />
  </wsdl:message>
  <wsdl:message name="ScanFilesSoapIn">
    <wsdl:part name="parameters" element="tns:ScanFiles" />
  </wsdl:message>
  <wsdl:message name="ScanFilesSoapOut">
    <wsdl:part name="parameters" element="tns:ScanFilesResponse" />
  </wsdl:message>
  <wsdl:message name="ProcesarResultadosScanfilesSoapIn">
    <wsdl:part name="parameters" element="tns:ProcesarResultadosScanfiles" />
  </wsdl:message>
  <wsdl:message name="ProcesarResultadosScanfilesSoapOut">
    <wsdl:part name="parameters" element="tns:ProcesarResultadosScanfilesResponse" />
  </wsdl:message>
  <wsdl:message name="VerificarStatusArchivoOutputSoapIn">
    <wsdl:part name="parameters" element="tns:VerificarStatusArchivoOutput" />
  </wsdl:message>
  <wsdl:message name="VerificarStatusArchivoOutputSoapOut">
    <wsdl:part name="parameters" element="tns:VerificarStatusArchivoOutputResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaCheckSwiftSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaCheckSwift" />
  </wsdl:message>
  <wsdl:message name="BusquedaCheckSwiftSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaCheckSwiftResponse" />
  </wsdl:message>
  <wsdl:message name="BusquedaCheckSwiftRawBicsSoapIn">
    <wsdl:part name="parameters" element="tns:BusquedaCheckSwiftRawBics" />
  </wsdl:message>
  <wsdl:message name="BusquedaCheckSwiftRawBicsSoapOut">
    <wsdl:part name="parameters" element="tns:BusquedaCheckSwiftRawBicsResponse" />
  </wsdl:message>
  <wsdl:message name="ProbarWebServiceHttpGetIn">
    <wsdl:part name="rutaSetupDB" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProbarWebServiceHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVerificationConsumoXMLHttpGetIn">
    <wsdl:part name="licenciaEmpresa" type="s:string" />
    <wsdl:part name="tipoOrganizacion" type="s:string" />
    <wsdl:part name="firstName" type="s:string" />
    <wsdl:part name="middleName" type="s:string" />
    <wsdl:part name="lastName" type="s:string" />
    <wsdl:part name="tipoIdentificacion" type="s:string" />
    <wsdl:part name="identificacion" type="s:string" />
    <wsdl:part name="direccion" type="s:string" />
    <wsdl:part name="ciudad" type="s:string" />
    <wsdl:part name="estado" type="s:string" />
    <wsdl:part name="codigoPostal" type="s:string" />
    <wsdl:part name="pais" type="s:string" />
    <wsdl:part name="fechaNacimiento" type="s:string" />
    <wsdl:part name="generacion" type="s:string" />
    <wsdl:part name="telfCasa" type="s:string" />
    <wsdl:part name="telfTrabajo" type="s:string" />
    <wsdl:part name="issuingCountry" type="s:string" />
    <wsdl:part name="expDate" type="s:string" />
    <wsdl:part name="idPolitica" type="s:string" />
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="perfilUsuario" type="s:string" />
    <wsdl:part name="valoresDefault" type="s:string" />
    <wsdl:part name="rutaSetupDB" type="s:string" />
    <wsdl:part name="rutaReportes" type="s:string" />
    <wsdl:part name="rutaLog" type="s:string" />
    <wsdl:part name="nombreLog" type="s:string" />
    <wsdl:part name="proveedorIdv" type="s:string" />
    <wsdl:part name="pathProveedorIdv" type="s:string" />
    <wsdl:part name="identityVerificationSetupOption" type="s:string" />
    <wsdl:part name="metodoBusqueda" type="s:string" />
    <wsdl:part name="primaryKey" type="s:string" />
    <wsdl:part name="codError" type="s:string" />
    <wsdl:part name="descripcionError" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVerificationConsumoXMLHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="ProbarWebServiceHttpPostIn">
    <wsdl:part name="rutaSetupDB" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ProbarWebServiceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVerificationConsumoXMLHttpPostIn">
    <wsdl:part name="licenciaEmpresa" type="s:string" />
    <wsdl:part name="tipoOrganizacion" type="s:string" />
    <wsdl:part name="firstName" type="s:string" />
    <wsdl:part name="middleName" type="s:string" />
    <wsdl:part name="lastName" type="s:string" />
    <wsdl:part name="tipoIdentificacion" type="s:string" />
    <wsdl:part name="identificacion" type="s:string" />
    <wsdl:part name="direccion" type="s:string" />
    <wsdl:part name="ciudad" type="s:string" />
    <wsdl:part name="estado" type="s:string" />
    <wsdl:part name="codigoPostal" type="s:string" />
    <wsdl:part name="pais" type="s:string" />
    <wsdl:part name="fechaNacimiento" type="s:string" />
    <wsdl:part name="generacion" type="s:string" />
    <wsdl:part name="telfCasa" type="s:string" />
    <wsdl:part name="telfTrabajo" type="s:string" />
    <wsdl:part name="issuingCountry" type="s:string" />
    <wsdl:part name="expDate" type="s:string" />
    <wsdl:part name="idPolitica" type="s:string" />
    <wsdl:part name="userName" type="s:string" />
    <wsdl:part name="perfilUsuario" type="s:string" />
    <wsdl:part name="valoresDefault" type="s:string" />
    <wsdl:part name="rutaSetupDB" type="s:string" />
    <wsdl:part name="rutaReportes" type="s:string" />
    <wsdl:part name="rutaLog" type="s:string" />
    <wsdl:part name="nombreLog" type="s:string" />
    <wsdl:part name="proveedorIdv" type="s:string" />
    <wsdl:part name="pathProveedorIdv" type="s:string" />
    <wsdl:part name="identityVerificationSetupOption" type="s:string" />
    <wsdl:part name="metodoBusqueda" type="s:string" />
    <wsdl:part name="primaryKey" type="s:string" />
    <wsdl:part name="codError" type="s:string" />
    <wsdl:part name="descripcionError" type="s:string" />
  </wsdl:message>
  <wsdl:message name="BusquedaIDVerificationConsumoXMLHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="wsRCS_OFACSoap">
    <wsdl:operation name="BusquedaIDVerificationBridger">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas por ID Verification.</wsdl:documentation>
      <wsdl:input message="tns:BusquedaIDVerificationBridgerSoapIn" />
      <wsdl:output message="tns:BusquedaIDVerificationBridgerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProbarWebService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de proporcionar informacin sobre el estado del servicio Web</wsdl:documentation>
      <wsdl:input message="tns:ProbarWebServiceSoapIn" />
      <wsdl:output message="tns:ProbarWebServiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AgregarAListaAceptados">
      <wsdl:input message="tns:AgregarAListaAceptadosSoapIn" />
      <wsdl:output message="tns:AgregarAListaAceptadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PoliticaEstablecidaBatch">
      <wsdl:input message="tns:PoliticaEstablecidaBatchSoapIn" />
      <wsdl:output message="tns:PoliticaEstablecidaBatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="formatosBI">
      <wsdl:input message="tns:formatosBISoapIn" />
      <wsdl:output message="tns:formatosBISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaWire">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas por ID Verification y CheckNames denominado BusquedaWire.</wsdl:documentation>
      <wsdl:input message="tns:BusquedaWireSoapIn" />
      <wsdl:output message="tns:BusquedaWireSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerification">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas por ID Verification mediante FastCheck.</wsdl:documentation>
      <wsdl:input message="tns:BusquedaIDVerificationSoapIn" />
      <wsdl:output message="tns:BusquedaIDVerificationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RCSA_SearchLists">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas y enviar los resultados por Mail mediante FastCheck.</wsdl:documentation>
      <wsdl:input message="tns:RCSA_SearchListsSoapIn" />
      <wsdl:output message="tns:RCSA_SearchListsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerificationXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas por ID Verification. (Retorna XML)</wsdl:documentation>
      <wsdl:input message="tns:BusquedaIDVerificationXMLSoapIn" />
      <wsdl:output message="tns:BusquedaIDVerificationXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerificationConsumoXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas por ID Verification. (Retorna XML)</wsdl:documentation>
      <wsdl:input message="tns:BusquedaIDVerificationConsumoXMLSoapIn" />
      <wsdl:output message="tns:BusquedaIDVerificationConsumoXMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVScanFile">
      <wsdl:input message="tns:BusquedaIDVScanFileSoapIn" />
      <wsdl:output message="tns:BusquedaIDVScanFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckNamesSF">
      <wsdl:input message="tns:BusquedaCheckNamesSFSoapIn" />
      <wsdl:output message="tns:BusquedaCheckNamesSFSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckNames">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas por CheckNames.</wsdl:documentation>
      <wsdl:input message="tns:BusquedaCheckNamesSoapIn" />
      <wsdl:output message="tns:BusquedaCheckNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaAlternateSearch">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas Alternate Search.</wsdl:documentation>
      <wsdl:input message="tns:BusquedaAlternateSearchSoapIn" />
      <wsdl:output message="tns:BusquedaAlternateSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckWire">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas por Check Wire.</wsdl:documentation>
      <wsdl:input message="tns:BusquedaCheckWireSoapIn" />
      <wsdl:output message="tns:BusquedaCheckWireSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ScanFiles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo Scan Files</wsdl:documentation>
      <wsdl:input message="tns:ScanFilesSoapIn" />
      <wsdl:output message="tns:ScanFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ProcesarResultadosScanfiles">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Procesamiento de Resultados ScanFiles</wsdl:documentation>
      <wsdl:input message="tns:ProcesarResultadosScanfilesSoapIn" />
      <wsdl:output message="tns:ProcesarResultadosScanfilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerificarStatusArchivoOutput">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verificacion status de Archivo Output</wsdl:documentation>
      <wsdl:input message="tns:VerificarStatusArchivoOutputSoapIn" />
      <wsdl:output message="tns:VerificarStatusArchivoOutputSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckSwift">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas de mensajes Swift Standard.</wsdl:documentation>
      <wsdl:input message="tns:BusquedaCheckSwiftSoapIn" />
      <wsdl:output message="tns:BusquedaCheckSwiftSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckSwiftRawBics">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas de mensajes Swift Standard.</wsdl:documentation>
      <wsdl:input message="tns:BusquedaCheckSwiftRawBicsSoapIn" />
      <wsdl:output message="tns:BusquedaCheckSwiftRawBicsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsRCS_OFACHttpGet">
    <wsdl:operation name="ProbarWebService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de proporcionar informacin sobre el estado del servicio Web</wsdl:documentation>
      <wsdl:input message="tns:ProbarWebServiceHttpGetIn" />
      <wsdl:output message="tns:ProbarWebServiceHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerificationConsumoXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas por ID Verification. (Retorna XML)</wsdl:documentation>
      <wsdl:input message="tns:BusquedaIDVerificationConsumoXMLHttpGetIn" />
      <wsdl:output message="tns:BusquedaIDVerificationConsumoXMLHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="wsRCS_OFACHttpPost">
    <wsdl:operation name="ProbarWebService">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de proporcionar informacin sobre el estado del servicio Web</wsdl:documentation>
      <wsdl:input message="tns:ProbarWebServiceHttpPostIn" />
      <wsdl:output message="tns:ProbarWebServiceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerificationConsumoXML">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Mtodo del Servicio Web que se encarga de realizar las bsquedas por ID Verification. (Retorna XML)</wsdl:documentation>
      <wsdl:input message="tns:BusquedaIDVerificationConsumoXMLHttpPostIn" />
      <wsdl:output message="tns:BusquedaIDVerificationConsumoXMLHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsRCS_OFACSoap" type="tns:wsRCS_OFACSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BusquedaIDVerificationBridger">
      <soap:operation soapAction="http://localhost/BusquedaIDVerificationBridger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProbarWebService">
      <soap:operation soapAction="http://localhost/ProbarWebService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarAListaAceptados">
      <soap:operation soapAction="http://localhost/AgregarAListaAceptados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PoliticaEstablecidaBatch">
      <soap:operation soapAction="http://localhost/PoliticaEstablecidaBatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="formatosBI">
      <soap:operation soapAction="http://localhost/formatosBI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaWire">
      <soap:operation soapAction="http://localhost/BusquedaWire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerification">
      <soap:operation soapAction="http://localhost/BusquedaIDVerification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RCSA_SearchLists">
      <soap:operation soapAction="http://localhost/RCSA_SearchLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerificationXML">
      <soap:operation soapAction="http://localhost/BusquedaIDVerificationXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerificationConsumoXML">
      <soap:operation soapAction="http://localhost/BusquedaIDVerificationConsumoXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVScanFile">
      <soap:operation soapAction="http://localhost/BusquedaIDVScanFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckNamesSF">
      <soap:operation soapAction="http://localhost/BusquedaCheckNamesSF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckNames">
      <soap:operation soapAction="http://localhost/BusquedaCheckNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaAlternateSearch">
      <soap:operation soapAction="http://localhost/BusquedaAlternateSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckWire">
      <soap:operation soapAction="http://localhost/BusquedaCheckWire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScanFiles">
      <soap:operation soapAction="http://localhost/ScanFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarResultadosScanfiles">
      <soap:operation soapAction="http://localhost/ProcesarResultadosScanfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarStatusArchivoOutput">
      <soap:operation soapAction="http://localhost/VerificarStatusArchivoOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckSwift">
      <soap:operation soapAction="http://localhost/BusquedaCheckSwift" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckSwiftRawBics">
      <soap:operation soapAction="http://localhost/BusquedaCheckSwiftRawBics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsRCS_OFACSoap12" type="tns:wsRCS_OFACSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BusquedaIDVerificationBridger">
      <soap12:operation soapAction="http://localhost/BusquedaIDVerificationBridger" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProbarWebService">
      <soap12:operation soapAction="http://localhost/ProbarWebService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AgregarAListaAceptados">
      <soap12:operation soapAction="http://localhost/AgregarAListaAceptados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PoliticaEstablecidaBatch">
      <soap12:operation soapAction="http://localhost/PoliticaEstablecidaBatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="formatosBI">
      <soap12:operation soapAction="http://localhost/formatosBI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaWire">
      <soap12:operation soapAction="http://localhost/BusquedaWire" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerification">
      <soap12:operation soapAction="http://localhost/BusquedaIDVerification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RCSA_SearchLists">
      <soap12:operation soapAction="http://localhost/RCSA_SearchLists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerificationXML">
      <soap12:operation soapAction="http://localhost/BusquedaIDVerificationXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerificationConsumoXML">
      <soap12:operation soapAction="http://localhost/BusquedaIDVerificationConsumoXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVScanFile">
      <soap12:operation soapAction="http://localhost/BusquedaIDVScanFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckNamesSF">
      <soap12:operation soapAction="http://localhost/BusquedaCheckNamesSF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckNames">
      <soap12:operation soapAction="http://localhost/BusquedaCheckNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaAlternateSearch">
      <soap12:operation soapAction="http://localhost/BusquedaAlternateSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckWire">
      <soap12:operation soapAction="http://localhost/BusquedaCheckWire" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ScanFiles">
      <soap12:operation soapAction="http://localhost/ScanFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProcesarResultadosScanfiles">
      <soap12:operation soapAction="http://localhost/ProcesarResultadosScanfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificarStatusArchivoOutput">
      <soap12:operation soapAction="http://localhost/VerificarStatusArchivoOutput" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckSwift">
      <soap12:operation soapAction="http://localhost/BusquedaCheckSwift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaCheckSwiftRawBics">
      <soap12:operation soapAction="http://localhost/BusquedaCheckSwiftRawBics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsRCS_OFACHttpGet" type="tns:wsRCS_OFACHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ProbarWebService">
      <http:operation location="/ProbarWebService" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerificationConsumoXML">
      <http:operation location="/BusquedaIDVerificationConsumoXML" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsRCS_OFACHttpPost" type="tns:wsRCS_OFACHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ProbarWebService">
      <http:operation location="/ProbarWebService" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BusquedaIDVerificationConsumoXML">
      <http:operation location="/BusquedaIDVerificationConsumoXML" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsRCS_OFAC">
    <wsdl:port name="wsRCS_OFACSoap" binding="tns:wsRCS_OFACSoap">
      <soap:address location="http://10.10.52.108/RCS%20WS%20OFAC/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="wsRCS_OFACSoap12" binding="tns:wsRCS_OFACSoap12">
      <soap12:address location="http://10.10.52.108/RCS%20WS%20OFAC/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="wsRCS_OFACHttpGet" binding="tns:wsRCS_OFACHttpGet">
      <http:address location="http://10.10.52.108/RCS%20WS%20OFAC/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="wsRCS_OFACHttpPost" binding="tns:wsRCS_OFACHttpPost">
      <http:address location="http://10.10.52.108/RCS%20WS%20OFAC/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>