equivida-ws-cliente/src-maseg-header/clienteequivida1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.equivida.com/services/clienteequivida/maseg_header" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:eqns="http://www.equivida.com/services/clienteequivida/maseg_header" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.equivida.com/services/clienteequivida/maseg_header">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.equivida.com/services/clienteequivida/maseg_header" xmlns:eqns="http://www.equivida.com/services/clienteequivida/maseg_header" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	        <xs:element name="request">
	            <xs:complexType>
	                <xs:sequence>
	                    <xs:element ref="eqns:cod_aseg"/>
	                    <xs:element ref="eqns:id_persona"/>
	                    <xs:element ref="eqns:cod_figura_aseg"/>
	                    <xs:element ref="eqns:cod_tipo_aseg"/>
	                    <xs:element ref="eqns:cod_imp_aseg"/>
	                    <xs:element ref="eqns:cod_tipo_agente"/>
	                    <xs:element ref="eqns:cod_agente"/>
	                    <xs:element ref="eqns:fec_alta"/>
	                    <xs:element ref="eqns:fec_baja"/>
	                    <xs:element ref="eqns:cod_ocupacion"/>
	                    <xs:element ref="eqns:fec_ult_modif"/>
	                    <xs:element ref="eqns:cod_usuario"/>
	                    <xs:element ref="eqns:txt_nom_factura"/>
	                    <xs:element ref="eqns:cod_moneda"/>
	                    <xs:element ref="eqns:imp_sueldo"/>
	                </xs:sequence>
	            </xs:complexType>
	        </xs:element>
	        <xs:element name="cod_aseg" type="xs:int"/>
	        <xs:element name="id_persona" type="xs:int"/>
	        <xs:element name="cod_figura_aseg" type="xs:int"/>
	        <xs:element name="cod_tipo_aseg" type="xs:int"/>
	        <xs:element name="cod_imp_aseg" type="xs:int"/>
	        <xs:element name="cod_tipo_agente" type="xs:int"/>
	        <xs:element name="cod_agente" type="xs:int"/>
	        <xs:element name="fec_alta" nillable="true" type="xs:date"/>
	        <xs:element name="fec_baja" nillable="true" type="xs:date"/>
	        <xs:element name="cod_ocupacion" type="xs:int"/>
	        <xs:element name="fec_ult_modif" nillable="true" type="xs:date"/>
	        <xs:element name="cod_usuario" nillable="true" type="xs:string"/>
	        <xs:element name="txt_nom_factura" nillable="true" type="xs:string"/>
	        <xs:element name="cod_moneda" type="xs:int"/>
	        <xs:element name="imp_sueldo" type="xs:decimal"/>
	        <xs:element name="response">
	            <xs:complexType>
	                <xs:sequence>
	                    <xs:element ref="eqns:res_cod_aseg"/>
	                    <xs:element ref="eqns:num_filas"/>
	                    <xs:element ref="eqns:cod_error"/>
	                    <xs:element ref="eqns:msg_error"/>
	                </xs:sequence>
	            </xs:complexType>
	        </xs:element>
	        <xs:element name="res_cod_aseg" type="xs:int"/>
	        <xs:element name="num_filas" type="xs:int"/>
	        <xs:element name="cod_error" type="xs:string"/>
	        <xs:element name="msg_error" type="xs:string"/>
	    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Request">
    <wsdl:part name="DefaultInput" element="eqns:request"/>
  </wsdl:message>
  <wsdl:message name="Response">
    <wsdl:part name="DefaultOutput" element="eqns:response"/>
  </wsdl:message>
  <wsdl:portType name="PortType">
    <wsdl:operation name="Invoke">
      <wsdl:input message="eqns:Request"/>
      <wsdl:output message="eqns:Response"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPBinding" type="eqns:PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Invoke">
      <soap:operation soapAction="http://www.equivida.com/services/clienteequivida/maseg_header/PortType/InvokeRequest"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="clienteequivida.maseg_headerSrv">
    <wsdl:port name="Port" binding="eqns:SOAPBinding">
      <soap:address location="http://10.10.30.26:2014/process/clienteequivida.maseg_header"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
