equivida-ws-cliente/src-calidad-nombres3/qa-nombres.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://SrQaNombres.QA_Equivida.isd.ibm.com/soapoverhttp/"
	xmlns:impl="http://SrQaNombres.QA_Equivida.isd.ibm.com/soapoverhttp/"
	xmlns:intf="http://SrQaNombres.QA_Equivida.isd.ibm.com/soapoverhttp/"
	xmlns:tns1="http://SrQaNombres.QA_Equivida.isd.ibm.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<schema targetNamespace="http://SrQaNombres.QA_Equivida.isd.ibm.com/soapoverhttp/"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns1="http://SrQaNombres.QA_Equivida.isd.ibm.com"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://SrQaNombres.QA_Equivida.isd.ibm.com" />
			<element name="SrQaNombresResponse">
				<complexType>
					<sequence>
						<element name="SrQaNombresReturn" nillable="true"
							type="tns1:SrvQaNombresOutVar1" />
					</sequence>
				</complexType>
			</element>
			<element name="SrQaNombres">
				<complexType>
					<sequence>
						<element name="txt_nombre" nillable="true" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
		<schema targetNamespace="http://SrQaNombres.QA_Equivida.isd.ibm.com"
			xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<complexType name="SrvQaNombresOutVar1">
				<sequence>
					<element name="txt_nombre" nillable="true" type="xsd:string" />
					<element name="genero_nombres" nillable="true" type="xsd:string" />
					<element name="nameprefix_nombres" nillable="true" type="xsd:string" />
					<element name="firstname_nombres" nillable="true" type="xsd:string" />
					<element name="secondname_nombres" nillable="true" type="xsd:string" />
					<element name="firstlastname_nombres" nillable="true" type="xsd:string" />
					<element name="secondlastname_nombres" nillable="true"
						type="xsd:string" />
					<element name="unhandledpattern_nombres" nillable="true"
						type="xsd:string" />
					<element name="status" nillable="true" type="xsd:int" />
					<element name="message" nillable="true" type="xsd:string" />
					<element name="validacion" nillable="true" type="xsd:string" />
					<element name="nombre" nillable="true" type="xsd:string" />
				</sequence>
			</complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="SrQaNombresResponse">
		<wsdl:part element="impl:SrQaNombresResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="SrQaNombresRequest">
		<wsdl:part element="impl:SrQaNombres" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="SrvQaNombres">
		<wsdl:operation name="SrQaNombres">
			<wsdl:input message="impl:SrQaNombresRequest" name="SrQaNombresRequest">
			</wsdl:input>
			<wsdl:output message="impl:SrQaNombresResponse" name="SrQaNombresResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SrvQaNombresSOAPSoapBinding" type="impl:SrvQaNombres">
		<wsaw:UsingAddressing wsdl:required="false" />
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="SrQaNombres">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="SrQaNombresRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="SrQaNombresResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="SrvQaNombres">
		<wsdl:port binding="impl:SrvQaNombresSOAPSoapBinding" name="SrvQaNombresSOAP">
			<wsdlsoap:address
				location="http://10.10.30.65:9080/wisd/QA_Equivida/SrvQaNombres" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>