equivida-ws-cliente/src-calidad-emails5/SrvQaEmail.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://SrvQaEmail.QA_Equivida.isd.ibm.com/soapoverhttp/" xmlns:impl="http://SrvQaEmail.QA_Equivida.isd.ibm.com/soapoverhttp/" xmlns:intf="http://SrvQaEmail.QA_Equivida.isd.ibm.com/soapoverhttp/" xmlns:tns1="http://SrvQaEmail.QA_Equivida.isd.ibm.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <wsdl:types>
      <schema targetNamespace="http://SrvQaEmail.QA_Equivida.isd.ibm.com/soapoverhttp/" xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://SrvQaEmail.QA_Equivida.isd.ibm.com"/>
         <element name="QAEmailSrvResponse">
            <complexType>
               <sequence>
                  <element name="QAEmailSrvReturn" nillable="true" type="tns1:SrvQaEmailOutVar1"/>
               </sequence>
            </complexType>
         </element>
         <element name="QAEmailSrv">
            <complexType>
               <sequence>
                  <element name="em_mail" nillable="true" type="xsd:string"/>
               </sequence>
            </complexType>
         </element>
      </schema>
      <schema targetNamespace="http://SrvQaEmail.QA_Equivida.isd.ibm.com" xmlns="http://www.w3.org/2001/XMLSchema">
         <complexType name="SrvQaEmailOutVar1">
            <sequence>
               <element name="nameemail_emails" nillable="true" type="xsd:string"/>
               <element name="prefixdomain_emails" nillable="true" type="xsd:string"/>
               <element name="domain_emails" nillable="true" type="xsd:string"/>
               <element name="suffixdomain_emails" nillable="true" type="xsd:string"/>
               <element name="countrydomain_emails" nillable="true" type="xsd:string"/>
               <element name="email_emails" nillable="true" type="xsd:string"/>
               <element name="unhandledpattern_emails" nillable="true" type="xsd:string"/>
               <element name="status" nillable="true" type="xsd:int"/>
               <element name="message" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
      </schema>
   </wsdl:types>
   <wsdl:message name="QAEmailSrvRequest">
      <wsdl:part element="impl:QAEmailSrv" name="parameters"/>
   </wsdl:message>
   <wsdl:message name="QAEmailSrvResponse">
      <wsdl:part element="impl:QAEmailSrvResponse" name="parameters"/>
   </wsdl:message>
   <wsdl:portType name="SrvQaEmail">
      <wsdl:operation name="QAEmailSrv">
         <wsdl:input message="impl:QAEmailSrvRequest" name="QAEmailSrvRequest"/>
         <wsdl:output message="impl:QAEmailSrvResponse" name="QAEmailSrvResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="SrvQaEmailSOAPSoapBinding" type="impl:SrvQaEmail">
      <wsaw:UsingAddressing wsdl:required="false"/>
      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="QAEmailSrv">
         <wsdlsoap:operation soapAction=""/>
         <wsdl:input name="QAEmailSrvRequest">
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
         <wsdl:output name="QAEmailSrvResponse">
            <wsdlsoap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SrvQaEmail">
      <wsdl:port binding="impl:SrvQaEmailSOAPSoapBinding" name="SrvQaEmailSOAP">
         <wsdlsoap:address location="http://10.10.52.53:9080/wisd/QA_Equivida/SrvQaEmail"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>